<!--- failos kuri tiek ieklauti sagatavē, vairs nevajabg head un body
daļu tas būs jaun no sagataves. to nosaka extends koda rinda-->	


{% extends "sagatave.html" %}
{% block content %}



<form method="POST" action="/atbilde">

	<label for="nosaukums">Nosaukums:</label><br>
	<input type="text" id="nosaukums" name="nosaukums" placeholder="Filmas nosaukums" required><br><br>

	<label for="gads">Izdosanas gads:</label><br>
	<input type="number" id="gads" name="gads" placeholder="Izdošanas gads" required><br><br>

	<label for="zanrs">Žanrs:</label><br>
            <select id="zanrs" name="zanrs">
                <option value="rom">Romantiskā</option>
                <option value="doc">Dokumentālā</option>
                <option value="com">Komēdija</option>
            </select>
            <br>

<button type = "submit" class = "btn btn-primary">Saglabāt</button>
</form>



{%  endblock %}	